.header {
  height: 100px;
  position: relative;
}
.header-logo h1 {
  display: none;
}
.header-logo {
  height: 56px;
  width: 56px;
  background: url(../public/logo-mi2.png);
  background-size: 100% 100%;
  margin-top: 22px;
  margin-right: 172px;
}
.header-menu > a {
  height: 100px;
  line-height: 100px;
  padding: 0 10px;
  font-size: 16px;
}
.header-submenu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 100px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 30px 0;
  display: none;
  z-index: 50;
}
.header-submenu a {
  width: 204px;
  text-align: center;
  font-size: 12px;
}
.header-cover {
  border-right: 1px solid #eee;
}
.header-submenu a:last-child .header-cover {
  border-right: none;
}
.header-name {
  margin-top: 10px;
}
.header-price {
  color: #ff6700;
}
.header-menu:hover .header-submenu {
  display: block;
}
.header-search {
  margin-top: 25px;
  position: relative;
}
.header-search input {
  height: 50px;
  width: 245px;
  font-size: 16px;
  padding: 0 15px;
  outline: none;
  border: 1px solid #ccc;
}
.header-search .header-searchicon {
  width: 55px;
  height: 50px;
  background: #fff;
  border: 1px solid #ccc;
  border-left: none;
}
.header-suggest{
    position: absolute;
    top: 50px;
    left: 0;
    width: 245px;
    border: 1px solid #ff6700;
    border-top: none;
    z-index: 40;
    background: #fff;
    display: none;
}
.header-suggest a{
  display: block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.header-suggest a:hover{
  background: #eee;
  color: inherit;
}

.header-search input:focus + .header-searchicon + .header-suggest{
  display: block;
}
.header-search input:focus {
  border-color: #ff6700 !important;
}
.header-search input:focus + .header-searchicon {
  border-color: #ff6700;
}
.header-searchicon:hover{
  background: #ff6700;
  color: #fff;
  cursor: pointer;
  border-color: #ff6700;
}
 .header-search input:hover{
  border-color: #aaa;
 }